/* Header styling */

.header {
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2rem 0;
}

/* Navigation styling */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0d8070;
}

.nav-icons {
    color: blue;
    font-size: 30px;
}

.nav-links {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: blue;
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-actions {

    
}

.search-bar {
    size: 150px;
    height: 30px;
}

.info-btn {
    
}

.basket-btn {

}

/* Main Gallery styling */

.gallery {

}

/* Contact form styling */

.contact-section {

}

.contact-form {

}

/* Footer styling */

.footer-content {

}

.footer-links {

}

.footer-social {

}